# Application
wp/web/app/plugins/*
!wp/web/app/plugins/.gitkeep
wp/web/app/mu-plugins/*/
wp/web/app/themes/twentytwentyfive/
wp/web/app/upgrade
wp/web/app/uploads/*
!wp/web/app/uploads/.gitkeep
wp/web/app/cache/*

wp/web/wp
wp/web/.htaccess

*.log

.env
.env.*
!.env.example

wp/vendor
wp/auth.json

wp/wp-cli.local.yml
